{% extends "layout.html" %}

{% block title%}Linegrams - About Us{% endblock%}

{% block content%}
<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4>LEARN MORE ABOUT US</h4>
				<p>WE DO INTERESTING THINGS</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
</div><!--  bluewrap -->

<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-3">
				<img class="img-circle" src="../img/jac_profile.jpg" width="110" height="110" alt="">
				<h4>Jaclyn Tsui</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
				<p><a href="http://www.twitter.com/jaclyntsui">@jaclyntsui</a></p>
			</div><!-- col-lg-3 -->
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->
{% endblock %}