{% extends "layout.html" %}

{% block title%}Linegrams - Features{% endblock%}

{% block content%}
<div id="blue">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h4>OUR FEATURES</h4>
				<p>LATEST DEVELOPMENTS</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
</div><!--  bluewrap -->

	<!-- FEATURE SECTION -->
	<div class="container wb">
		<div class="row centered">
			<br><br>
			<div class="col-lg-8 col-lg-offset-2">
				<h4>WE HELP YOU CREATE WITH FLAIR</h4>
				<p>Linegrams would like to continue building upon the tools we have provided for you thus far. Any feedback and additional functionality suggestions would be greatly appreciated by our engineering team. Our aim is to bring to you the best photo journaling experience one can have and to stick around for years to come as more sophiticated photo capturing applications get released.</p>
			<p><br/><br/></p>
			</div>
			<div class="col-lg-2"></div>
			<div class="col-lg-10 col-lg-offset-1">
				<img class="img-responsive" src="/img/munter.png" alt="">
			</div>
		</div><!-- row -->
	</div><!-- container -->
{% endblock %}