{% extends "layout.html" %}

{% block title%}Linegrams - Sign up{% endblock%}

{% block content%}
<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>A journaling experience that will never be so beautiful.</h1>
					<br>
				<h2>Start yours today!</h2>
				<br>
				<p class="lead">
							<a href="/auth/instagram" class="signin"><img src="../img/signin_instagram.png"></a>
       </p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->

<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-4">
				<i class="fa fa-heart"></i>
				<h4>DESIGN</h4>
				<p>
					In our hectic and public lives today, it is best we present you with a simple solution to document your private moments. We want your journal to convey a moment of zen and simplicity.</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-book"></i>
				<h4>JOURNAL</h4>
				<p>Linegrams is here to document your instagram journal privately. Just direct message us and allow us to showcase your journey in a timeline in order to organize your personal memories.</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-search"></i>
				<h4>SEARCH</h4>
				<p>Want to search your journal? We've got your covered. Our search bar will ensure that you'll always be on top of your photos and journal entries. Leave it to us to solve with instant seach capabilities. </p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->
</div><!-- container -->
{% endblock %}