{% extends "layout.html" %}

{% block title%}Linegrams - Sign up{% endblock%}

{% block content%}
<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h2>Linegrams is a one-page template for organizing your instagram journeys in a simple and beautiful timeline format.</h2>
				<h3>Make yours today!</h3>
				<p class="lead">
              <a href="/auth/instagram" class="btn btn-lg btn-default">Sign Up with INSTAGRAM</a>
         </p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->

         <!--  <div class="inner cover">
            <h1 class="cover-heading">Line up your instagrams.</h1>
            <p class="lead">Linegrams is a one-page template for organizing your instagram journeys in a simple and beautiful timeline format.<br><br>Make yours today!</p>
            <p class="lead">
              <a href="/auth/instagram" class="btn btn-lg btn-default">Sign Up with INSTAGRAM</a>
            </p>
          </div> -->

<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-4">
				<i class="fa fa-heart"></i>
				<h4>DESIGN</h4>
				<p>
					There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-book"></i>
				<h4>JOURNAL</h4>
				<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-share"></i>
				<h4>SHARE</h4>
				<p>Wnat to share your timeline to your best friend? We've got you covered! There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
			</div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->

	<!-- SCREENSHOTS -->
	<div id="dg">
		<div class="container">
			<div class="row centered">
				<h4>LATEST DEVELOPMENTS</h4>
				<br>
				<div class="col-lg-4">
					<div class="tilt">
					<a href="#"><img src="#" alt=""></a>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="tilt">
					<a href="#"><img src="#" alt=""></a>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="tilt">
					<a href="#"><img src="#" alt=""></a>
					</div>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->


	<!-- FEATURE SECTION -->
	<div class="container wb">
		<div class="row centered">
			<br><br>
			<div class="col-lg-8 col-lg-offset-2">
				<h4>WE CREATE JOURNALS</h4>
				<p>By being true to the brand we represent, we elevate the audiences’ relationship to it. Like becomes love becomes a passion. Passion becomes advocacy. And we see the brand blossom from within, creating a whole story the audience embraces. That’s when the brand can truly flex its muscles.</p>
			<p><br/><br/></p>
			</div>
			<div class="col-lg-2"></div>
			<div class="col-lg-10 col-lg-offset-1">
				<img class="img-responsive" src="#" alt="">
			</div>
		</div><!-- row -->
	</div><!-- container -->
{% endblock %}