{% extends "layout.html" %}

{% block title%}Linegrams - Sign up{% endblock%}

{% block content%}
<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>A journaling experience that will never be so beautiful.</h1>
					<br>
				<h2>Start yours today!</h2>
				<br>
				<p class="lead">
							<a href="/auth/instagram" class="signin"><img src="../img/signin_instagram.png"></a>
       </p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->

<div id="dg">
		<div class="container">
			<div class="row centered">
				<h4>INSTRUCTIONS</h4>
				<br>
				<div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">1</button>
            <p>Cart</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle">2</button>
            <p>Shipping</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
            <p>Payment</p>
        </div>
    </div>
</div>

				</div><!-- /col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- DG -->

<div id="lg">
		<div class="container">
			<div class="row centered">
				<h4>OUR BIGGEST FAN</h4>
				<br>
				<br>
				<div class="col-lg-12">
					<a href="http://www.fullstackacademy.com"><img src="img/fs_logo.png" alt=""></a>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- dg -->
{% endblock %}