<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title%}Linegrams{% endblock %}</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/examples/cover/cover.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
		<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand" id="h3">LINEGRAMS</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="journal">
          	<img src="images/journal_1.png" >
          </div>
          <div class="inner cover">
            <h1 class="cover-heading">Line up your instagrams.</h1>
            <p class="lead">Linegrams is a one-page template for organizing your instagram journeys in a simple and beautiful timeline format.<br><br>Make yours today!</p>
            <p class="lead">
              <a href="/auth/instagram" class="btn btn-lg btn-default">Sign Up with INSTAGRAM</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Made especially for you, by <a href="https://twitter.com/jaclyntsui">@jaclyntsui</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="javascripts/application.js"></script>
</body>
</html>