{% extends "layout.html" %}

{% block title%}Linegrams - Profile{% endblock%}

{% block content%}

{#
{% for img in data.shares %}
<img src="{{img.image_versions[1].url}}">
<p>{{img.caption.text}}</p>
<p>{{img.tags}}</p>
{% endfor %}
#}

{#
{% for img in data %}
<img src="{{img.images.low_resolution.url}}">
<p>{{img.caption.text}}</p>
<p>{{img.tags}}</p>
{% endfor %}
#}


<div class="container">
    <div class="page-header">
        <h1 id="timeline">Your Journal</h1>
    </div>
{% for img in data.shares %}
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicons-icon umbrella"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{img.recipients.user.username}}</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{img.taken_at}} via Instagram</small></p>
            </div>
            <div class="timeline-body">
            	{% if img.video_versions[0] %}
            		<video width="306" height="306" controls>
								  <source src="{{img.video_versions[0].url}}" type="video/mp4">
								Your browser does not support the video tag.
								</video>
            	{% else %}
              <img src="{{img.image_versions[0].url}}">
            	    {% endif %}
              <p>{{img.caption.text}}</p>
              <p>{{img.tags}}</p>
            </div>
          </div>
        </li>
    </ul>
</div>
{% endfor %}

{% endblock %}