{% extends "layout.html" %}

{% block title%}Linegrams - Profile{% endblock%}

{% block content%}

<div class="container">
    <div class="page-header">
        <h1 id="timeline">My Journal</h1>
    </div>
 <div class="container">
	<div class="row">
           <div id="custom-search-input">
                            <div class="input-group col-md-6">
                                <input type="text" class="  search-query form-control" placeholder="Search keywords and hastags" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
	</div>
</div>
{% for index,img in data.shares %}
{% if index % 2 == 0 || index == 0 %}
{% set img1 = data.shares[index] %}
{% set img2 = data.shares[index+1] %}
    <ul class="timeline">
        <li>
          <div class="timeline-badge info"><i class="glyphicon glyphicon-picture"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
               <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{img1.taken_at|datefromunix|date('F j, Y, g:i a')}} via Instagram</small></p>
            </div>
            <div class="timeline-body">
            	{% if img1.video_versions[0] %}
            		<video width="392" height="392" controls>
								  <source src="{{img1.video_versions[0].url}}" type="video/mp4">
								Your browser does not support the video tag.
								</video>
            	{% else %}
              <img src="{{img1.image_versions[0].url}}">
            	    {% endif %}
            	<div class="timeline-footer">
            		<a class="pull-right"><i class="glyphicon glyphicon-heart"></i></a>
            		<strong>Description</strong>
                <p>{{img1.caption.text}}</p>
            	</div>
<!--  							<li class="timeline-inverted">
 								          <div class="timeline-panel">
 								          	<div class="timeline-body">
 								          		<p><small class="text-muted"><i class="glyphicon glyphicon-pencil"></i> Description</small></p>
 								          		<p>{{img1.caption.text}}</p>
 								          	</div>
													</div>
							</li> -->
						</div>
          </div>
        </li>
        {% if img2 %}
           <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-picture"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
             <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{img2.taken_at|datefromunix|date('F j, Y, g:i a')}} via Instagram</small></p>
            </div>
            <div class="timeline-body">
              {% if img2.video_versions[0] %}
									<video width="392" height="392" controls>
								  <source src="{{img2.video_versions[0].url}}" type="video/mp4">
								Your browser does not support the video tag.
								</video>
            	{% else %}
              <img src="{{img2.image_versions[0].url}}">
            	    {% endif %}
<!--             	    <li class="timeline">
 								          <div class="timeline-panel">
 								          	<div class="timeline-body">
 								          		<p><small class="text-muted"><i class="glyphicon glyphicon-pencil"></i> Description</small></p>
 								          		<p>{{img2.caption.text}}</p>
 								          	</div>
													</div>
							</li> -->
							<div class="timeline-footer">
            		<a class="pull-right"><i class="glyphicon glyphicon-heart"></i></a>
            		<strong>Description</strong>
                <p>{{img2.caption.text}}</p>
            	</div>
            </div>
          </div>
        </li>
    </ul>
         {% endif %}
       {% endif %}
    {% endfor %}
</div>



{% endblock %}